.form {
    padding: 0 80px;
}
.form .unchecked {
    background-image: url(../../images/square.png);
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 20px;
    margin-top: 30px;

}
.form input[type="radio"]:checked +  .unchecked{

    background-image: url(../../images/checked.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 20px;
    transform: rotate(180deg);

}
