.combob {
    padding: 0 80px;
}
.combobox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    height: 30px;
    padding: 5px 15px 5px 15px;
    border: 1px solid var(--blue);
    border-radius: 10rem;
    text-align: left;
}
.box {
    color: var(--blue);
}
.right {
    color: var(--blue) !important;
}
.list-group {
    margin: 0 15px ;
    padding: 10px 0 15px 0;
    border: 1px solid var(--blue);
    border-radius: 0 0 10px 10px ;
}
.list {
    margin:0 10px 0 10px;
    font-size: 12px;
    color: var(--blue);
    border-bottom: 1px solid var(--blue);
    cursor: pointer;
}
.list:hover {
    font-weight: bold;
}
