.cycling-boy {
    width: 100%;
    padding: 150px 50px;
    position: relative;
    animation: backwheel 8s infinite;
}
.boy {
    z-index: 1;
}
.backwheel {
    position: absolute;
    top: 500px;
    left: 30px;
    z-index: 0;
    animation: spin 2s linear infinite;
}
.wheel {
    position: absolute;
    top: 500px;
    left: 350px;
    z-index: 0;
    animation: spin 2s linear infinite;   
}
.ground {
    position: absolute;
    top: 650px;
    left: 30px;
    z-index: -1;
}
.balloon {
    position: absolute;
    top: 490px;
    left: 670px;
    z-index: 0;
    animation: balloon 8s infinite;
}
@keyframes balloon {
    from {top: 490px}
    to {top: 120px}
}
@keyframes backwheel {
    from {left: 30px}
    to {left: 430px}
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }