:root {
  --blue: #0095B6;
  --grey: #C0C0C0;
  --lavender: #E6E6FA;
  --white: #FFFFFF;
  --steel-blue: #4682B4;
  --green: #1ABC9C;
}
ul, li {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}